.input-home {
  height: 50px !important;
  width: 400px !important;
  margin-right: 16px;
}

.form-home {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form-index {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.form-inbox {
  margin-top: 64px;
  width: 600px;
  textarea {
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.4)
  }
}

.form-login {
  background: white;
  padding: 10px 20px;
  box-shadow: 1px 1px 3px rgba(30, 30, 30, 0.2);
  margin-top: 40px;
  border-radius: 3px;
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
  }
  label {
    font-size: 18px;
    font-weight: bold;
  }
  .form-check-input {
    margin-right: 8px;
  }
  a {
    font-size: 14px;
  }
  .form-check-label.boolean.optional {
    font-size: 14px;
    font-weight: normal;
    }
}
